<form (ngSubmit)="onUpdate(form)" #form="ngForm">
    <div class="form-group">
      <label for="productDescription">Voornaam</label>
      <input type="text" class="form-control" id="firstname" placeholder="Voornaam" name="firstname" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
        <label for="productDescription">Achternaam</label>
        <input type="text" class="form-control" id="lastname" placeholder="Achternaam" name="lastname" [(ngModel)]="user.lastName">
    </div>
    <div class="form-group">
        <label for="productDescription">Wachtwoord</label>
        <input type="password" class="form-control" id="password" placeholder="wachtwoord" name="password" ngModel>
    </div>
    <!-- Toevoegen dubbele wachtwoord, om te checken.-->
    <button type="submit" class="btn btn-primary">Registreren</button>
  </form>