<h1>Inloggen</h1>
<form (ngSubmit)="onLogin(form)" #form="ngForm">
  <div class="form-group">
    <label for="productName">Email</label>
    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" ngModel>
    <!-- <small id="productNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="productDescription">Wachtwoord</label>
    <input type="password" class="form-control" id="password" placeholder="wachtwoord" name="password" ngModel>
  </div>
  <!-- Toevoegen dubbele wachtwoord, om te checken.-->
  <button type="submit" class="btn btn-primary">Inloggen</button>
</form>