

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Antiquités du roi</h1>
      <p class="lead">Dé enige webshop voor vorstelijk meubilair</p>
    </div>
  </div>

<home-carousel></home-carousel>
<hr>

<!-- De items -->
<p class="text-center" style="font-size: 28pt;">Producten</p>
<div class="card-group justify-content-center">    
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
    <item-card></item-card>
</div>