.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

item-card
{
    margin-left: 10px;
    margin-bottom: 15px;
}