main
{
    background-image: url("/assets/img/background.png");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    height: 100%;
}

.container
{
    background-color: white;
}