<h1>Bestelling Overzicht</h1>
<div *ngIf="orders != null">
    <!-- <app-cart-item ></app-cart-item> -->
    <!-- <app-cart-item *ngFor="let item of cart.items" [productInput]="item"></app-cart-item> -->
    <table class="table" *ngFor="let order of orders">
        <thead class="thead-dark">
          <p>Bestelling van: {{ order[0].firstname + " " + order[0].lastname }}</p>
          <p>Datum: {{ order[0].date | date:'short' }}</p>
          <tr>
            <th scope="col">#{{ order[0].id }}</th>
            <th scope="col">Naam</th>
            <!-- <th scope="col">Last</th> -->
            <th scope="col">Prijs (&euro;)</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <!-- <app-cart-item *ngFor="let item of cart.items" [productInput]="item"></app-cart-item> -->
            <tr *ngFor="let item of order" class="item">
                <th scope="row"><img src="assets/img/items/{{item.image}}" alt="{{ item.description }}"></th>
                <td>{{ item.name }}</td>
                <td>&euro;{{ item.price }}</td>
            </tr>

            <tr>
              <th></th>
              <td></td>
              <!-- <td>Totaal: &euro;{{ cart.totalSum }}</td> -->
              <!-- <td><button type="button" class="btn btn-success" (click)="onPay()">Betalen</button></td> -->
            </tr>
        </tbody>
        
      </table>
</div>